/*	.grid {
		font-size:0;
	}
	.grid__item {
		font-size: 1rem;
	}*/
	
.grid {
  letter-spacing: -0.31em;
}

/* Opera hack */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

.grid__item {
  letter-spacing: normal;
  word-spacing: normal;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);

body{
	font-family: 'Open Sans', sans-serif;
	margin:0;
	/*line-height: 1.4em;*/
	color: #222;
	font-size: 15px;
}


.personal-toolbar {
	text-align: right !important;
	color: #0645AD;
}

.back-action:before {
	content: "";
	display: inline-block;
	border: 4px solid transparent;
	border-right-color: #555;
	margin: 0 8px 0 0;
	
}

.back-action:hover {
	background: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 3px;

}

.back-action {
	padding: 4px 8px;
	margin-left: 15px;
	border:	 1px solid transparent;
	cursor: pointer;

}

.document-actions {
	text-align: right;
}


.translation-bar {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
		
}

.translation-area {
	background: #f8f8f8;
}

.article-panel {
	background: white;
	overflow:auto;
	padding-left: 60px;
}

.message {padding-right: 20px;}

.message-pair:hover {
	/*background: #fbfbfb;*/
	cursor: pointer;
		
}

.message-pair.active:hover {
	/*background: #fbfbfb;*/
	cursor: auto;
		
}

.message-pair .source.message {

	
}


.message-pair:hover .source.message {
	background: #FFFEEC;
	cursor: pointer;
	
}
.message-pair.active .source.message, 
.message-pair.active:hover .source.message{
    background: white;
    transition: background 1s;
	cursor: inherit;
}


.message-pair.active .translated.message { 
	color: #444;	
}

.message-pair .translated.message a {
	cursor: pointer;
}

.message-pair.active .translated.message a:hover,
.message-pair.active .translated.message a.active {
	background: #E5F0F9;
	border-radius: 13px;
}

.message-pair.active .translated.message a[data-type='remove'] {
	border-radius: 4px;
	color: inherit;
	text-decoration: none; 
	border-bottom:1px dashed #ddd;
}

.message-pair.active .translated.message a[data-type='remove'] .reference {
	text-decoration:line-through;
}


.message-pair.active .translated.message a[data-type='remove'].active, 
.message-pair.active .translated.message:hover a[data-type='remove'] {
	background: #F8F8F8;
}
.message-pair.active .translated.message a[data-type='remove']:hover {
	background: #FFFCD3;
}

.message-pair i,
.message-pair em {
	font-style: normal;
	border-radius: 4px;
	padding: 0 1px;
}

.message-pair .translated.message:hover i,
.message-pair .source.message:hover i, 
.message-pair .translated.message:hover em,
.message-pair .source.message:hover em{
	background: #f0f0f0;
}

.message-pair .message i:hover,
.message-pair .message i.active,
.message-pair .message em:hover,
.message-pair .message em.active{
	background: #FFFCD3 !important;
	cursor: pointer;
}


.message-pair .translated.message i,
.message-pair .translated.message em {
	font-style: normal;
}

.message-pair .translated .actions {
	visibility: hidden;
	padding-bottom: 10px;
	display:none;
}

.message-pair.active .translated .actions {
	visibility:visible;
display:none;
}

.message-pair p.section {
	font-size: 18px;
	font-weight: bolder;
	
}

.message-pair:hover .translated p:empty + .add-translation  {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight:lighter;
	color: #AAA;
	position: relative;
	top: -30px;
	
}

.message-pair .translated .add-translation, 
.message-pair.active:hover .translated.message .add-translation {
	display: none;
}



.message-pair .actions .btn {
	margin-right: 5px;
}


.progress {
	display: inline-block;
	position: relative;
	background: #eee;
	height: 4px;
}

.progress.big {
	height: 10px;
	border-radius: 10px;
	border: 1px solid #ddd;
	background: #fbfbfb;
	vertical-align: middle;
	padding-left: 10px;
}

.progress .bar {
	background: #3892E3;	
	display: inline-block;
	height: 4px;
	width: 0%;
	position: absolute;
	left:0;
	top:0;
	transition: width 1s;
}

.progress.big .bar {
	height: 10px;
	border-radius: 10px;
	top:-1px;
}

.tools .tool {
	float:right;
	display: inline-block;
	margin-top: 5px;
}

.tools .tool.search {
	background: transparent url(../images/search.png) center left no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/search.svg);
	padding-left: 28px;
	min-height: 23px;
	background-size: 23px auto;
}

.suggestions-header .tool.search {
	background: transparent url(../images/search.png) center center no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/search.svg);
	padding-left: 28px;
	min-height: 28px;
	background-size: 23px auto;	
	border: 1px solid transparent;
	float: right;
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 15px;
	cursor: pointer;
}

.suggestions-header .tool.search:hover {
	border: 1px solid #ddd;
}

.tools .tool.settings {
	background: transparent url(../images/cog.png) center right no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/cog.svg);
	padding-left: 28px;
	min-height: 23px;
	min-width: 30px;
	background-size: auto 23px;
}

.overlay-panel .tools {
	padding-left: 15px;
}

.tools .tool.close {
	background: transparent url(../images/closing.png) left center no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/closing.svg);
	padding-left: 28px;
	min-height: 23px;
	/*min-width: 30px;*/
	float: left;
	cursor: pointer;
	opacity: 0.75;
}

.tools .tool.close:hover{
	opacity:1;
}

.tools .searchbox {
	min-height: 23px;
	display: none;
	margin:0;
	min-width: 200px;
}

.tools .tool.search:hover .searchbox, .tools .searchbox:focus {
	display: inline-block;
}

.panel-container {
	position:relative;
}

.context-panel {
  top: 15px;
  position:static;
  background:#f8f8f8;
}


.context-panel.sticky {
  position: fixed;
  top: 0;
}

.overlay-panel {
	background: #f8f8f8;
	position: absolute;
	top:0;
	bottom: -500%;
	width: 100%;
	margin-left: 115%;
	transition: margin-left 0.6s;
	border-left: 1px solid #bbb;
	box-shadow: -2px 0 5px #ccc;
	z-index: 100;
	padding: 0 20px;
}

.overlay-panel.active {
	margin-left: -10px;
	margin-right: -20px;
	border-left: 1px solid #bbb;
	box-shadow: -2px 0 5px #ddd;
}

.context-panel h2{
	font-weight: lighter;
	color: #666;
	margin-top: 5px;
}

.context-panel .automatic-translation-aid {
	position: relative;
	display: inline-block;
	border: 1px solid transparent;
	padding:0  4px;
	padding-right: 15px;
	border-radius: 3px;
	cursor: pointer;
}

.context-panel .automatic-translation-aid:hover {
	border: 1px solid #ddd;
	
}

.context-panel .automatic-translation-aid:after {
	display: inline;
	content: "";
	border-top: 4px solid #999;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	vertical-align: middle;
	position:absolute;
	top:50%;
	margin-left: 4px;
}

.context-panel .automatic-translation-aid + .menu {
	display: none;
}

.context-panel .automatic-translation-aid.active {
	background: #aaa;
	border: 1px solid #ddd;
}
.context-panel .automatic-translation-aid.active + .menu {
	display: block;
	
}

.context-panel .initial-instructions li {
	padding: 5px 0;
}
.context-panel .initial-instructions a {
	text-decoration: none;
	color: #3892E3;
}

.suggestion-list {
	padding: 0 25px;
}

.context-panel .alternatives-label {
	color: #3892E3;
	color: #666;
	padding-left: 24px;
	font-size: 18px;
}

.context-panel .suggestion {
	color: #555;
	padding: 10px;
	margin: 10px 0;	
	background: white;
	border: 1px solid #ddd;
	cursor: pointer;
	position: relative;
}

.glossary.suggestion.active,
.context-panel .suggestion:hover {
	box-shadow: 0px 0px 1px #ccc;
		border: 1px solid #ccc;
}


.glossary.suggestion-list .description {
	padding: 5px 0;
}

.glossary.suggestion-list .suggestion {
	margin-right: 5px;
}

.glossary.suggestion {
	width:auto;
}

.glossary.suggestion.active {
	font-weight: bold;
}

.glossary.suggestion .match {
	color: #888;
	font-size: 12px;
	padding-left: 10px;
}

.context-panel .paragraph.suggestion:first-child {
	display:none;
}
.context-panel .suggestion em {
	color: #222;
	font-style: normal;
	font-weight: bolder;
	}

.context-panel .suggestion:hover em,
.context-panel .suggestion.applied.active:hover em {
	color: #222;
	font-style: normal;
	background:#FFFCD3;
	}

.suggestion-list:empty + .suggestion-actions { display:none;}

.suggestion-list .suggestion .translation-service {
	
	margin: 5px -10px -10px -10px;
	padding: 1px 10px;
	font-size: 12px;
	/*visibility: hidden;*/
	background: #fbfbfb;
	border-top: 1px solid #f0f0f0;
	cursor: default;
}

.suggestion-list .suggestion .status {
	display: none;
	width: 24px;
	height: 25px;
	z-index:10;
	right:0;
	bottom:0;
}

.overlay-panel .word-info {
	float: left;

}

.context-panel .suggestion.applied:hover em {
	background:#f0f0f0;
	}


.suggestion-list .suggestion.applied .status,
.suggestion-list .suggestion.applied.active:hover .status  {
	background: transparent url(../images/check-triangle.png) right bottom no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/check-triangle.svg);
	display: inline-block;
	position: absolute;
}

.suggestion-list .suggestion.applied:hover .status {
	background-image: url(../images/uncheck-triangle.png);
	background-image: linear-gradient(transparent, transparent), url(../images/uncheck-triangle.svg);

}

.suggestion-list .suggestion.applied .translation-service {
}

.suggestion-list .suggestion .translation-service .action{
	color: #3892E3;	
	float: right;	
	cursor: pointer;
	border-left: 1px solid #f0f0f0;
	padding: 0 5px 0 15px;
}

.suggestion-list .suggestion.applied .translation-service .action.discard,
.suggestion-list .suggestion .translation-service .action.revert {
	display:none;
}

.suggestion-list .suggestion.applied .translation-service .action.revert,
.suggestion-list .suggestion .translation-service .action.discard {
	display: inline-block;
}


.context-panel h2 {
	margin-bottom: 5px;
}

.context-header {
	padding-bottom: 15px;
}

.suggestion-action, .restore-action {
	color: #3892E3;
	cursor: pointer;
	padding: 5px 0;
	margin-left: 25px;
}

.initial-panel .suggestion-action {
	margin-left: 0px;
}


.suggestion-action.restore-action {
	background: transparent url(../images/reverting.png) center left no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/reverting.svg);
	padding-left: 25px;
	background-size: auto 16px;
}

.link-adaptation.edit {
	background: transparent url(../images/label-pen.png) center left no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/label-pen.svg);
	padding-left: 25px;
	background-size: auto 16px;
}


.keep.link-adaptation,
.suggestion-action.paste {
	background: transparent url(../images/pasting.png) center left no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/pasting.svg);
	padding-left: 25px;
	background-size: auto 16px;
}

.remove.ref-adaptation,
.remove.link-adaptation,
.suggestion-action.clear {
	background: transparent url(../images/closing.png) center left no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/closing.svg);
	padding-left: 25px;
	background-size: auto 16px;
}



.title.message {
	margin-bottom: 20px;
}

.title.message h1 {
	margin-bottom: 2px;
}

.title-options .language-name {
	color: #777;
	padding: 0 10px 0 0;
}

.title-options .actions {
	color: #3892E3;		
	cursor: pointer;
}

.alternatives-label {
	padding-top: 10px;
}

.link-adaptation-list .link-target {
	padding-bottom: 10px;
}

.link-adaptation-list .link-adaptation,
.ref-adaptation-list .ref-adaptation {
	padding-top: 5px;
	padding-bottom: 5px;
	color:#444;
	cursor: pointer;
	font-size: 14px;
}

.button:hover > .link-adaptation,
.link-adaptation-list .link-adaptation:hover,
.ref-adaptation-list .ref-adaptation:hover {
	color: #3892E2;
}

.warning-bar {
	background: #FFFEEC;
	padding: 10px 15px 0px 35px;
	color: #444;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 4px;
	display:none;
	/*padding-left: 60px;
	background: #FFFEEC url(../images/sad-robot.png) 30px 10px no-repeat;*/
}

.warning-bar.sticky {
  position: fixed;
  top: 0;
  right:0;
  left:0;
  z-index:200;
}

.warning-bar.active{
	display:block;
	
}
.warning-bar  h2 {
	font-size: 20px;
	font-weight: lighter;
	margin:0;
}
.warning-bar  p {
	margin-top:5px;
}
.warning-bar .close {
	background: transparent url(../images/closing.png) right center no-repeat;
background-image: linear-gradient(transparent, transparent), url(../images/closing.svg);
padding-left: 28px;
min-height: 23px;
min-width: 30px;
float: right;
cursor: pointer;
opacity: 0.75;
}

/* dialog:*/
.dialog {
	display:none;
	position:absolute;
	padding:7px;
	width: 400px;
	z-index: 10;
	right:0;
	text-align: left;
}

.dialog .grid {
	border: 1px solid #999;
	box-shadow: 0 0 4px 1px rgba(0,0,0,0.3);
	background: #fbfbfb;
	padding-bottom: 5px;
}

.dialog .row {
	padding: 6px 0;
}
.dialog.active {
	display: block;
}

.dialog .title {
	font-size: 20px;
	font-weight: lighter;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	background: white;
	padding-top:5px;
}


.publish-warning:after{
	content:"";
	display: inline;
	border-bottom: 8px solid white;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	position: absolute;
	top:0px;
	right:40px;
}
.publish-warning:before{
	content:"";
	display: inline;
	border-bottom: 8px solid #333;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	position: absolute;
	top:-1px;
	right:40px;
}

/*
.gallery {
	background: transparent url(../images/gallery.png) left center no-repeat;
	height: 85px;

}*/

.label{
	color: #888;
	padding-bottom: 10px;
}

.highlight {
	background: #FFFCD3 !important;
}

.hidden {
	display: none !important;
}
.stroked {
	text-decoration: line-through !important;	
}

a {
	text-decoration: none;
}

hr {
	display: block; height: 1px;
    border: 0; border-top: 1px solid #ddd;
    margin: 1em 0; padding: 0;
}

*[contenteditable="true"]:focus{
	border:none;
	outline:none;
}



@media only screen and (max-width: 480px) {
	.context-panel,
	.context-panel.sticky {
		border-top:#aaa;
		box-shadow: 0px -1px 2px #aaa;
		position: fixed;
		top: auto;
		bottom: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 40%;
	
	}
}