/*	.grid {
		font-size:0;
	}
	.grid__item {
		font-size: 1rem;
	}*/
	
.grid {
  letter-spacing: -0.31em;
}

/* Opera hack */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

.grid__item {
  letter-spacing: normal;
  word-spacing: normal;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);

body{
	font-family: 'Open Sans', sans-serif;
	margin:0;
	/*line-height: 1.4em;*/
	color: #222;
	font-size: 15px;
}


.personal-toolbar {
	text-align: right !important;
	color: #0645AD;
}

.back-action:before {
	content: "";
	display: inline-block;
	border: 4px solid transparent;
	border-right-color: #555;
	margin: 0 8px 0 0;
	
}

.back-action:hover {
	background: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 3px;

}

.back-action {
	padding: 4px 8px;
	margin-left: 15px;
	border:	 1px solid transparent;
	cursor: pointer;

}

.document-actions {
	text-align: right;
}


.translation-bar {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
		
}

.translation-area {
	background: #f8f8f8;
}

.article-panel {
	background: white;
	overflow:auto;
	padding-left: 60px;
}

.message {padding-right: 20px;}

.message-pair:hover {
	/*background: #fbfbfb;*/
	cursor: pointer;
		
}

.message-pair.active:hover {
	/*background: #fbfbfb;*/
	cursor: auto;
		
}

.message-pair .source.message {

	
}


.message-pair:hover .source.message {
	background: #FFFEEC;
	cursor: pointer;
	
}
.message-pair.active .source.message, 
.message-pair.active:hover .source.message{
    background: white;
    transition: background 1s;
	cursor: inherit;
}


.message-pair.active .translated.message { 
	color: #444;	
}

.message-pair.active .translated.message a {
	background: #E5F0F9;
	border-radius: 13px;
	/*
	text-decoration: none;
	 color: white;
	outline: 1px #55A2E7;*/
}


.message-pair i {
	font-style: normal;
	border-radius: 4px;
	padding: 0 1px;
}

.message-pair .translated.message:hover i,
.message-pair .source.message:hover i{
	background: #f0f0f0;
}

.message-pair .message i:hover,
.message-pair .message i.active{
	background: #FFFCD3 !important;
	cursor: pointer;
}


.message-pair .translated.message i,
.message-pair .translated.message em {
	font-style: normal;
}

.message-pair .translated .actions {
	visibility: hidden;
	padding-bottom: 10px;
	display:none;
}

.message-pair.active .translated .actions {
	visibility:visible;
display:none;
}

.message-pair p.section {
	font-size: 18px;
	font-weight: bolder;
	
}

.message-pair:hover .translated p:empty + .add-translation  {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight:lighter;
	color: #AAA;
	position: relative;
	top: -30px;
	
}

.message-pair .translated .add-translation, 
.message-pair.active:hover .translated.message .add-translation {
	display: none;
}



.message-pair .actions .btn {
	margin-right: 5px;
}

.progress {
	display: inline-block;
	position: relative;
	background: #eee;
	height: 4px;
}

.progress.big {
	height: 10px;
	border-radius: 10px;
	border: 1px solid #ddd;
	background: #fbfbfb;
	vertical-align: middle;
	padding-left: 10px;
}

.progress .bar {
	background: #3892E3;	
	display: inline-block;
	height: 4px;
	width: 0%;
	position: absolute;
	left:0;
	top:0;
	transition: width 1s;
}

.progress.big .bar {
	height: 10px;
	border-radius: 10px;
	top:-1px;
}

.tools .tool {
	float:right;
	display: inline-block;
	margin-top: 5px;
}

.tools .tool.search {
	background: transparent url(../images/search.png) center left no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/search.svg);
	padding-left: 28px;
	min-height: 23px;
	background-size: 23px auto;
}

.tools .tool.settings {
	background: transparent url(../images/cog.png) center right no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/cog.svg);
	padding-left: 28px;
	min-height: 23px;
	min-width: 30px;
	background-size: auto 23px;
}

.tools .searchbox {
	min-height: 23px;
	display:none;
	margin:0;
	min-width: 200px;
}

.tools .tool.search:hover .searchbox, .tools .searchbox:focus {
	display: inline-block;
}

.context-panel {
  top: 15px;
  position:static;
  background:#f8f8f8;
}


.context-panel.sticky {
  position: fixed;
  top: 0;
}

.context-panel h2{
	font-weight: lighter;
	color: #3892E3;
}


.context-panel .initial-instructions li {
	padding: 5px 0;
}
.context-panel .initial-instructions a {
	text-decoration: none;
	color: #3892E3;
}
.suggestion-list {
	padding: 0 15px;
}

.context-panel .alternatives-label {
	color: #3892E3;
	padding-left: 24px;
	font-size: 18px;
}

.context-panel .translation-service {
	color: #888;
	padding-bottom: 10px;
}

.context-panel .suggestion {
	color: #555;
	padding: 10px;
	margin: 10px 0;	
	background: white;
	border: 1px solid #ddd;
	cursor: pointer;
}

.glossary.suggestion.active,
.context-panel .suggestion:hover {
	box-shadow: 0px 0px 1px #ccc;
		border: 1px solid #ccc;
}


.glossary.suggestion-list .description {
	padding: 5px 0;
}

.glossary.suggestion-list .suggestion {
	margin-right: 5px;
}

.glossary.suggestion {
	width:auto;
}

.glossary.suggestion.active {
	font-weight: bold;
}

.glossary.suggestion .match {
	color: #888;
	font-size: 12px;
	padding-left: 10px;
}

.context-panel .paragraph.suggestion:first-child {
	display:none;
}
.context-panel .suggestion em {
	color: #222;
	font-style: normal;
	font-weight: bolder;
	}

.context-panel .suggestion:hover em {
	color: #222;
	font-style: normal;
	background:#FFFCD3;
	}

.suggestion-list:empty + .suggestion-actions { display:none;}

.suggestion-list .suggestion .translation-service {
	
	margin: 5px -10px -10px -10px;
	padding: 1px 10px;
	font-size: 12px;
	/*visibility: hidden;*/
	background: #fbfbfb;
	border-top: 1px solid #f0f0f0;
	cursor: default;
}


.suggestion-list .suggestion.applied .translation-service {
}

.suggestion-list .suggestion .translation-service .action{
	color: #3892E3;	
	float: right;	
	cursor: pointer;
	border-left: 1px solid #f0f0f0;
	padding: 0 5px 0 15px;
}

.suggestion-list .suggestion.applied .translation-service .action.discard,
.suggestion-list .suggestion .translation-service .action.revert {
	display:none;
}

.suggestion-list .suggestion.applied .translation-service .action.revert,
.suggestion-list .suggestion .translation-service .action.discard {
	display: inline-block;
}


.suggestions-header h2 {
	margin-bottom: 5px;
}

.suggestions-header {
	padding-bottom: 15px;
}

.suggestion-action, .restore-action {
	color: #3892E3;
	cursor: pointer;
	padding: 5px 0;
	margin-left: 20px;
}

.suggestion-action.paste{
	background: transparent url(../images/paste.png) center left no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/paste.svg);
	padding-left: 25px;
	background-size: auto 16px;
}

.suggestion-action.clear{
	background: transparent url(../images/close.png) center left no-repeat;
	background-image: linear-gradient(transparent, transparent), url(../images/close.svg);
	padding-left: 25px;
	background-size: auto 16px;
}


.title.message {
	margin-bottom: 20px;
}

.title.message h1 {
	margin-bottom: 2px;
}

.title-options .language-name {
	color: #777;
	padding: 0 10px 0 0;
}

.title-options .actions {
	color: #3892E3;		
	cursor: pointer;
}



.highlight {
	background: #FFFCD3;
}

.hidden {
	display: none !important;
}


*[contenteditable="true"]:focus{
	border:none;
	outline:none;
}



@media only screen and (max-width: 480px) {
	.context-panel,
	.context-panel.sticky {
		border-top:#aaa;
		box-shadow: 0px -1px 2px #aaa;
		position: fixed;
		top: auto;
		bottom: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 40%;
	
	}
}