
.top-bar {
top:0;
border-bottom: solid 1px #aaa;
background: #eee;
height: 45px;
line-height: 45px;
margin: 0 0 30px;
padding: 0;
width: 100%;
position: fixed;
z-index: 100;
box-shadow: 2px  0px  5px 1px #ccc;
}


.bottom-bar {
border-top: solid 1px #aaa;
background: #eee;
height: 45px;
line-height: 45px;
margin: 30px 0 0;
padding: 0;
width: 100%;
position: fixed;
bottom:0px;
z-index: 100;
box-shadow: -2px  0px  5px 1px #ccc;

}
body{
	background:#fbfbfb;
}
.message-list{
margin: 60px auto;	
padding: 60px 0;
width:90%;
max-width:1200px;
min-width:900px;
background:white;
border: solid 1px #bbb;
/*box-shadow: 2px  2px  5px 1px #ccc;*/
}

.message h2{
	font-size: 32px;
	margin:8px;
}
.message h3{
	font-size: 24px;
	margin:4px;
}

.message p{
	font-size: 16px;
	margin-bottom:4px;
	margin-top:4px;
}

.row.original,.row.original h2,.row.original h3, .original,.original h2,.original h3{
	color:#555;
}
.row.translated{
	color:#111;
}
.close{
	text-align: right;
	cursor: pointer;	
	padding-right:10px;

}
.message-pair{
	margin-top:1em;
	padding-top:10px;
	padding-bottom:10px;

}

.row.message-pair{
	padding-top:1em;
	padding-bottom:1em;	
	min-height: 92px;
}
.message-pair:hover{
	background: #fbfbfb;
	cursor:pointer;
}


.message-pair:hover .edit-action{
	display:block;
}

.message-pair .edit-action:hover{
	color:#888;
}


.message-pair .edit-action{
	background: url("../images/edit.png")  right center no-repeat;
	width:auto;
	height:30px;
	padding-top:8px;
	padding-left:4px;
	margin-top: 4px;
	display:block;
	display:none;
	color: rgba(0,0,0,0);
	 
}


.message-pair.editor {
	border: solid 1px #999;
	box-shadow: 2px  2px  5px 1px #ccc;
	background: white;
	z-index: 100;
	
}
.message-pair.editor textarea{
	width: 100%;
	height: 100%;
	/*	margin-top: 5px;*/
		font-size: 14px;
	line-height:1.5em;
	
}

.message-pair.editor .btn.translate, .message-pair.editor .edit-action{
	display:none;
}


.message-pair .controls{
	display:none;
}

.message-pair.editor .controls{
	display:block;
	margin-bottom: 12px;
	
}

.message-pair.editor .btn, .translate.btn{
	padding: 10px 6px;
	margin: 0 5px 0 0;
}
.button.active{
	background-color:#444;
	color:white;
}
.button.active:hover{
	background-color:#444;
	color:white;
}
.button:hover{
	color:black;
}


.top-bar ul > li:hover, .top-bar ul > li.active{
	background: none;
}

.message-pair:hover .post-marker, .message-pair.editor .post-marker{
	background-image: url("../images/uncheck-hi.png")  ;
}

.message-pair:hover .post-marker.active,.message-pair.editor .post-marker.active{
	background-image: url("../images/check-hi.png")  ;
}

.post-marker{
	background: url("../images/uncheck.png")  right center no-repeat;
	width:auto;
	height:30px;
	display:none;

}

.post-marker.active{
	background: url("../images/check.png")  right center no-repeat;

}

.pre-marker.translate{
	background: url("../images/translate.png")  left center no-repeat;
	width:auto;
	height:45px;

}

.pre-marker.outdated{
	background: url("../images/outdated.png")  left center no-repeat;
	width:auto;
	height:45px;

}

.progress-view {
	text-align: right;
	font-size: 16px;
	color:#222;
	
}
.progress-view .counter.complete{
	font-weight: bold;
}
div.progress .meter {
	-webkit-transition: width 0.25s linear;
	-moz-transition: width 0.25s linear;
	transition: width 0.25s linear;
	background: #39D;
	margin:0;
}

div.progress {
	height: 8px;
	margin-top:18px;
	border: none;
	background: #888;
	padding:0;
}

.language-selector{
	text-align: right;
}

.hidden, .post-marker.hidden{
display:none;	
}

hr{
	margin: 80px 0;
}

a, a:hover{
	color: #36b;
}

.btn.translate{
	display: none;
	margin:15px 20%;
}
.content:empty+.btn.translate{
	display: block;
}
